.body {
	padding-top: 200px;
    position: relative;
    overflow: hidden;
    height: 1500px;
    font-family:'Nunito', sans-serif;
    
}

.body img {
	background-color: rgba(232,114,17,1.0);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 1500px;
    opacity: 0.4;
}

.spotlight{
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 6px;
	padding: 50px;
	padding-right: 50px;
	
}

.spotlight th{
	color: #F9AD86;
	font-size: 25px;
	color: #EF8F63;
	font-weight: 200;

}

.spotlight .h1{
	font-size: 30px;
	font-weight: 200;
}
.button2{
	background-color: #F9AD86;
	border: solid 1.5px #F9AD86;
	border-radius: 8px;
	padding:  8px;
	color: white;
}

.button2:hover {
	background-color: #EF8F63;
	color: white;
	border: solid 1.5px #EF8F63;
	
}


