.body{
	padding-top: 80px;
	 font-family:'Nunito', sans-serif;
}
.articles{
	display: inline-block;
	height: 600px;
	vertical-align: top;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 100px;
	border-bottom: 2px solid #EF8F63;
	overflow: hidden;
}
.articles h4{
	margin-top: 20px;
	margin-bottom: 20px;
}

.articles a {
	color: black;
}
#feedBanner{
	height: 500px;
	background-color: black;
	margin-bottom: 100px;
	padding: 12px 100px 200px 100px;
	color: white;
}
#feedBanner h1{
	font-size: biggest;
}
#feedBanner img{
	padding:0px;
}
#piggy {
	height: 500px;
	margin-left: 200px;
	vertical-align: top;
}
.text{
	padding-top: 150px;
	vertical-align: top;
}