.body{
	padding-top: 150px;
 	font-family: 'Nunito', sans-serif;
 	background-color: #F9AD86;
 	height: 2200px;
}


.slogan{
	font-size: 50px;
	font-weight: 200;
}

.about{
	font-size: 20px;
}

.already{
	text-align: center;
	margin-top: 5px;
}

.error{
	color: red;
}

/* ------------------------------------- */
/*           Sign up button              */
/* ------------------------------------- */


.sign_up{
	border:2px solid #EF8F63 ;
	border-radius: 8px;
	background-color: #EF8F63;
	padding: 12px 25px;
	color: white;
	width: 100%;
}

.sign_up:hover{
	border:2px solid #EF8F63 ;
	border-radius: 8px;
	background-color: #F9AD86;
	padding: 12px 25px;
	color: white;
}
input[type=submit]{
	margin-top: 40px;
}

